In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import mysql.connector
import pandas as pd
cnx = mysql.connector.connect(user='root', password='taskbase',
                              host='127.0.0.1', port='3309', database='lernnavi')

In [3]:
# All Aspects
query = "SELECT * FROM Aspects"
df_aspects = pd.read_sql(query, cnx)
# df_aspects.head()

In [4]:
query = "SELECT * FROM TaskAspects"
df_TaskAspect = pd.read_sql(query, cnx)
# df_TaskAspect.head()

**German tasks**

In [5]:
df_tasks = pd.read_csv("data/open_tasks_DE.csv")
df_tasks.head(1)

,language,description,context,tenant_id,tenant_name,topic_name,topic_description,word_count,taskId
14837,deu,Nennen Sie fünf Argumente für die ZHAW.,NaN,19.0,Marketing Grundlagen,NaN,NaN,7,2cJMUQ5g2Tl9P93e0tYmOT

In [6]:
df = pd.merge(df_tasks[["taskId"]], df_TaskAspect, how="inner", on=["taskId"])
# df.head()

In [7]:
df_aspects.rename(columns={"id":"aspectId"}, inplace=True)
merged = pd.merge(
    left=df[["taskId", "aspectId"]], 
    right=df_aspects[["aspectId", "name", "description", "categoryId", "type", "groupId"]], 
    on="aspectId", 
    how="outer")
merged.head()

,taskId,aspectId,name,description,categoryId,type,groupId
0,6GiDAn1lXN77UqQybxaa1N,8063,contains too little/753,Bitte zähle noch weitere Möbel und Einrichtung...,NaN,MISCONCEPTION,NaN
1,6GiDAn1lXN77UqQybxaa1N,8067,is contained/749,Es wurden genügend Möbel und Einrichtungsgegen...,NaN,CONCEPT,NaN
2,1N8fnGOxojM7uMBAfjldQO,8067,is contained/749,Es wurden genügend Möbel und Einrichtungsgegen...,NaN,CONCEPT,NaN
3,6GiDAn1lXN77UqQybxaa1N,8075,is not contained/750,Es wurden keine Möbel und Einrichtungsgegenstä...,NaN,MISCONCEPTION,NaN
4,2nrIbSGCnBTaitH65i7FqT,7656,is contained/796,"Der Satz beginnt mit ""Nein"".",NaN,CONCEPT,NaN

In [8]:
len(merged), len(merged[merged["taskId"].isna()]), len(merged[merged["description"].isna()])

(49990, 6116, 0)

In [9]:
merged.dropna(subset=["taskId"]).to_csv("data/aspects_DE.csv", index_label=False)

**English tasks**

In [10]:
df_tasks = pd.read_csv("data/open_tasks_EN.csv")

df = pd.merge(df_tasks[["taskId"]], df_TaskAspect, how="inner", on=["taskId"])

df_aspects.rename(columns={"id":"aspectId"}, inplace=True)

merged = pd.merge(
    left=df[["taskId", "aspectId"]], 
    right=df_aspects[["aspectId", "name", "description", "categoryId", "type", "groupId"]], 
    on="aspectId", 
    how="outer")

len(merged), len(merged[merged["taskId"].isna()]), len(merged[merged["description"].isna()])

(15357, 7416, 0)

In [11]:
merged.dropna(subset=["taskId"]).to_csv("data/aspects_EN.csv", index_label=False)