## Tasks 

Table of all versions of tasks.
* **version**: version number of the task update
* **taskId**: unique ID of the task. *version* is however the primary key of the table => Multiple rows could have the same ID.
* **title**
* **typeId**: ID of the type of the task. 33 types: *OPEN, CLOZE_TEXT_INPUT, CLOZE_TEXT_DROPDOWN, MULTIPLE_CHOICE, GRAMMAR, SPELLCHECK...*
* **createdTime**: timestamp of creation of the version of the task
* **authorId**
* **content**: a dict containing more information about the task (some fields in dict exist already as a separate column) <br> *id, <br>type, <br>hints (list), <br>title, <br>version, <br>description (text), <br>taskType (OPEN, CLUSTER,... same as type?), <br>solutionSteps (list)*
* **Status**: status of the task? *DRAFT, INITIAL, WORK_IN_PROGRESS...* 
* **aiStatus**: 
* **customerId, language, followUpTask, versionComment, feedbackComment**: sparse fields.

> **TaskChildParent**

<hr>

## LatestTaskVersions

The table containing the last versions of tasks.
* **version**
* **taskId**: no duplicates
* **createdTime**
  
<hr>

## Competences

The table of **Aspects**

* **id**
* **name**
* **description**
* **tenantId**: ID of the client
* **categoryId**: *Content, Deklination, Grammar, Spelling, Tempus, Modus, Wortart...* -sparse
* **type**: CONCEPT, MISCONCEPTION
* **groupId**
* **metaData**

> **TaskCompetences** is a join table associating *taskId* to *competenceId*.

<hr>

## AspectsConfigurations

The table of **Detectors**

* **id**: table PK
* **name**: detector name
* **aspectDetectorConfiguration**: dict containing different parameters, related to the detector type.
* **taskId**: one task can have multiple detectors, one detector per row.
* **topicId** -sparse
* **authorId**
* **configurationId, isEnabled**: sparse fields

<hr>

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import mysql.connector
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import json
from bs4 import BeautifulSoup

In [3]:
sns.set_theme(style='white', 
              rc={'figure.figsize':(15,8)})
color_blind_colors = [
    "#00429d",  # Dark blue
    "#009c79",  # Dark green
    "#ff420e",  # Orange
    "#365e96",  # Blue
    "#ffbb00",  # Yellow
    "#a200ff",  # Purple
    "#01b1d2",  # Cyan
    "#00558c",  # Dark blue
    "#9e0638",  # Red
    "#00a03e",  # Green
    "#ffcd00",  # Yellow
    "#7a6fca",  # Blue
    "#3f3f3f",  # Gray
    "#af280e",  # Red
    "#c3d825",  # Green-yellow
    "#3a4276",  # Blue
    "#1f8a70",  # Green
    "#ff6800",  # Orange
    "#5b5a5a",  # Gray
    "#c49867",  # Brown
    "#827a04",  # Olive
    "#83a4d4",  # Light blue
    "#44a1c2",  # Blue
    "#c4b97f",  # Olive
    "#8a88a3",  # Purple
    "#da8137",  # Orange
    "#dc5f3b",  # Red-orange
    "#a67e2d",  # Yellow-brown
    "#b7aa89",  # Gray
    "#647d6e",  # Green
    "#6aabb1",  # Cyan
    "#a07f29",  # Yellow-brown
    "#d7a844",  # Yellow-orange
    "#6e764d"   # Olive
]

In [4]:
cnx = mysql.connector.connect(user='root', password='taskbase',
                              host='127.0.0.1', port='3309', database='lernnavi')

# Distribution of types

In [5]:
query = "SELECT * FROM TaskTypes"
df_types = pd.read_sql(query, cnx)
df_types.rename(columns={'id':'typeId', 'name':'type'}, inplace=True)
df_types.head()

DatabaseError: Execution failed on sql 'SELECT * FROM DocumentTypes': 1146 (42S02): Table 'lernnavi.DocumentTypes' doesn't exist

In [ ]:
query = "SELECT * FROM Tasks"
df_tasks = pd.read_sql(query, cnx)
df_tasks = pd.merge(df_tasks, df_types, how="inner", on='typeId')
df_tasks.head()

In [ ]:
query = "SELECT * FROM LatestTaskVersions"
df = pd.read_sql(query, cnx)
df_latest_task_versions = pd.merge(df_tasks, df, how="inner", on=["version", "taskId"])
L = len(df_latest_task_versions)
df_latest_task_versions.head()

ax = sns.histplot(data=df_tasks,
                  x="type"
                 )
plt.xticks(rotation=90)
title = plt.title("Distribution of types of tasks")

In [ ]:
types_count = df_latest_task_versions[["type", "taskId"]].groupby("type").count().rename(columns={"taskId":"count"}).reset_index()

sns.set_theme(style='white', 
              rc={'figure.figsize':(12,6)})

colors = ['tab:blue' for x in types_count.type]
colors[-2] = 'red'
colors[-3] = 'red'

ax = sns.barplot(data=types_count,
                 x='type',
                 y="count",
                 order=types_count.sort_values('count').type, palette=colors)

plt.xticks(rotation=90)
ax.get_xticklabels()[-2].set_color("red")
ax.get_xticklabels()[-3].set_color("red")
title = plt.title("Types of tasks sorted by count")
ax.get_figure().savefig("figures/types_count_sorted.png", bbox_inches="tight")

In [ ]:
lowest_counts = types_count.sort_values(by="count", ascending=False)[16:] # ID 29 to 27
# lowest_counts = types_count[18:] # ID 29 to 20
p = lowest_counts['count'].sum() / types_count['count'].sum() * 100
print("The types of lowest counts (ID 29 to ID 27) correspond to {p:.2f}% of the number of tasks.".format(p=p))

<hr>

# Tenants

In [ ]:
# Get titles and descriptions of last versions of tasks 
df = df_latest_task_versions[["title", "content"]]
df = pd.concat([df, df["content"].apply(json.loads).apply(pd.Series)], axis=1)
columns_to_keep = ["type", "clozeText", "description", "taskType", "clozeElements", "textWithMistakes", "solution", "language", "tenant", "topic"]
df_content = df[columns_to_keep]
# df_content.head()

In [ ]:
# How many tasks with solution ?
print("{:.2f}%".format(len(df_content["solution"].dropna()) / L * 100))

In [ ]:
# How many tasks with language specified ? 
print("{:.2f}%".format(len(df_content["language"].dropna()) / L * 100))

In [ ]:
# How many tasks with topic specified ? 
print("{:.2f}%".format(len(df_content["topic"].dropna()) / L * 100))

In [ ]:
# How many tasks with tenant specified ? 
print("{:.2f}%".format(len(df_content["tenant"].dropna()) / L * 100))

In [ ]:
# Distribution of tasks among tenants
tenants = df_content["tenant"].apply(pd.Series)
tenants_count = tenants.groupby(by="name").count()[["id"]].rename(columns={"id":"count"}).reset_index()

sns.set_theme(style='white', 
              font_scale=0.7, 
              rc={'figure.figsize':(15,8)})

ax = sns.barplot(data=tenants_count,
                 x="name",
                 y="count",
                 order=tenants_count.sort_values('count').name,
                 )
# ax.set_yscale("log")
plt.xticks(rotation=90)
title = plt.title("Number of tasks by tenant. All types combined.")

In [ ]:
df_content = pd.concat([df_content, tenants], axis=1)

In [ ]:
# Distribution of tasks' types among tenants 
sns.set_theme(style='white', 
              font_scale=0.7, 
              rc={'figure.figsize':(15,8)})

ax = sns.histplot(data=df_content,
                  x="name",
                  hue="type",
                  multiple="stack", 
                  palette=color_blind_colors,
                 )
ax.set_yscale("log")
plt.xticks(rotation=90)
title = plt.title("Number of tasks by tenant. All types combined.")

In [ ]:
# Tenants with most CLOZE and OPEN tasks
task_types = ["OPEN", "CLOZE_TEXT_INPUT"]
df_cloze_open = df_content[df_content["type"].isin(task_types)]

ax = sns.histplot(data=df_cloze_open,
                  x="name",
                  hue="type",
                  multiple="stack"
                 )
# ax.set_yscale("log")
x = plt.xticks(rotation=90)
title = plt.title("Number by tenant of tasks of types 'OPEN' and 'CLOZE_TEXT_INPUT'.")

In [ ]:
# How many CLOZE OPEN with language specified ?
print("{:.2f}%".format(len(df_cloze_open["language"].dropna())/ len(df_cloze_open) * 100))

In [ ]:
# What is the portion of English and German cloze/open tasks ? NaN included in total
print("{:.2f}%".format(len(df_cloze_open[df_cloze_open["language"].isin(["DE", "EN"])]) / len(df_cloze_open) * 100))

In [ ]:
sns.set_theme(style='white', 
              rc={'figure.figsize':(12,6)})

ax = sns.histplot(data=df_cloze_open,
                  x="language",
                  shrink=0.8)
title = plt.title("Distribution of languages of the OPEN and CLOZE_TEXT_INPUT tasks.")
ax.get_figure().savefig("figures/languages_distribution.png", bbox_inches="tight")

**Cornelsen and EKV_Physik**

In [ ]:
df_corn_ekv = df_content[df_content["name"].isin(["Cornelsen DE", "EKV_Physik"])]
sns.set_theme(style='white', 
              font_scale=1, 
              rc={'figure.figsize':(8,6)})

ax = sns.histplot(data=df_corn_ekv,
                  x="name",
                  hue="type",
                  multiple="stack",
                  shrink=0.5
                 )

# Content

In [ ]:
# Lengths of descriptions => need pre-processing ? cleaning html tags 
clean_descriptions = df_cloze_open[["description", "language"]]
clean_descriptions["description"] = clean_descriptions["description"].apply(lambda str: BeautifulSoup(str, 'html.parser').get_text().strip())
clean_descriptions = pd.DataFrame(clean_descriptions.reset_index(drop=True))
clean_descriptions["word_count"] = clean_descriptions["description"].apply(lambda s: len(s.split()))
clean_descriptions.sort_values(by="word_count", inplace=True)
L = len(clean_descriptions)

In [ ]:
df_cloze_open_EN = df_cloze_open[df_cloze_open["language"] == "EN"]
df_cloze_open_DE = df_cloze_open[df_cloze_open["language"] == "DE"]

In [ ]:
sns.set_theme(style='white', 
              rc={'figure.figsize':(15,8)})

ax = sns.histplot(data=clean_descriptions,
                  x="word_count"
                 )
ax.set_yscale("log")
title = plt.title("Distribution of description text by length (in words). All languages combined.")

In [ ]:
# How many empty descriptions ?
empty = clean_descriptions[clean_descriptions["word_count"] == 0]
print("{:.2f}%".format(len(empty) / L * 100))

In [ ]:
# How heavy is the tail ?
tail = clean_descriptions[clean_descriptions["word_count"] > 200]
print("{:.2f}%".format(len(tail) / L * 100))

In [ ]:
# How heavy is the tail ?
tail = clean_descriptions[clean_descriptions["word_count"] > 100]
print("{:.2f}%".format(len(tail) / L * 100))

In [ ]:
clean_descriptions.head()

In [ ]:
sns.set_theme(style='white', 
              rc={'figure.figsize':(15,8)})

ax = sns.histplot(data=clean_descriptions[clean_descriptions["language"] == "EN"],
                  x="word_count"
                 )
ax.set_yscale("log")
title = plt.title("Distribution of ENGLISH description text by length (in words).")

In [ ]:
df = clean_descriptions[clean_descriptions["language"] == "EN"]
L = len(df)
tail = df[df["word_count"] > 100]
print("{:.2f}%".format(len(tail) / L * 100))

In [ ]:
df = clean_descriptions[clean_descriptions["language"] == "EN"]
L = len(df)
tail = df[df["word_count"] > 50]
print("{:.2f}%".format(len(tail) / L * 100))

In [ ]:
sns.set_theme(style='white', 
              rc={'figure.figsize':(15,8)})

ax = sns.histplot(data=clean_descriptions[clean_descriptions["language"] == "DE"],
                  x="word_count"
                 )
ax.set_yscale("log")
title = plt.title("Distribution of GERMAN description text by length (in words).")

In [ ]:
df = clean_descriptions[clean_descriptions["language"] == "DE"]
L = len(df)
tail = df[df["word_count"] > 100]
print("{:.2f}%".format(len(tail) / L * 100))

In [ ]:
sns.set_theme(style='white', 
              rc={'figure.figsize':(15,8)})

ax = sns.histplot(data=clean_descriptions[clean_descriptions["language"].isin(["EN", "DE"])],
                  x="word_count"
                 )
ax.set_yscale("log")
title = plt.title("Distribution of description text by length (in words). ENGLISH and GERMAN combined.")

In [ ]:
df = clean_descriptions[clean_descriptions["language"].isin(["EN", "DE"])]
L = len(df)
tail = df[df["word_count"] > 100]
print("{:.2f}%".format(len(tail) / L * 100))

# How many empty descriptions ?
empty = df[df["word_count"] == 0]
print("{:.2f}%".format(len(empty) / L * 100))

# How many short descriptions ?
empty = df[df["word_count"] < 10]
print("{:.2f}%".format(len(empty) / L * 100))

> The distribution of the length of task description (in number of words) is heavy-tailed. Descriptions of more than 100 words count for less than 1% of the dataset and so can be discarded. Empty descriptions however count for almost 10% of the dataset.
> More than half of the dataset of English and German tasks have short descriptions, of less than 10 words.

**Topics**

In [ ]:
df_cloze_open_topics = df_cloze_open_EN["topic"].apply(pd.Series)

In [ ]:
df_cloze_open_topics.dropna(subset=["name"]).name.unique()

## QUEST Difference between clozeText and description ? 
# All tasks have description, clozeText relates to tasks of types "CLOZE_TEXT_DROPDOWN", "CLOZE_TEXT_INPUT", and "DND_IN_TEXT"
print(len(df_content["description"].dropna()), len(df_content["clozeText"].dropna()))
d = df_content[["clozeText", "type"]].dropna()
print(d["type"].unique())
print(len(df_content[df_content["type"] == "CLOZE_TEXT_DROPDOWN"]) + len(df_content[df_content["type"] == "CLOZE_TEXT_INPUT"]) + len(df_content[df_content["type"] == "DND_IN_TEXT"]))

<hr>

# Aspects

In [44]:
pd.set_option('display.max_rows', 500)
query = "SELECT * FROM Tenants"
df = pd.read_sql(query, cnx)
# df[df["lang"] == "DE"]

In [41]:
query = "SELECT * FROM Competences"
df_aspects = pd.read_sql(query, cnx)
# df_aspects.head()

df_aspects_cornelsen = df_aspects[df_aspects["tenantId"]==95]
df_aspects_ekvphysik = df_aspects[df_aspects["tenantId"]==140]
# df_aspects_cornelsen.head()
df_aspects_ekvphysik.head()

,id,name,description,tenantId,categoryId,type,groupId,metaData
6789,100769,EM_Magnet,Der/Die Lernende kennt alle Informationen zum ...,140,NaN,CONCEPT,135946.0,None
6820,100920,EM_Anziehungskraft,"Der/Die Lernende hat erwähnt, dass unterschied...",140,NaN,CONCEPT,135946.0,None
6821,100921,EM_Anziehungskraft,"Der/Die Lernende hat nicht erwähnt, dass unter...",140,NaN,MISCONCEPTION,135946.0,None
6822,100922,EM_magnetisieren,Der/ die Lernende kennt alle Informationen übe...,140,NaN,CONCEPT,135946.0,None
6823,100923,EM_magnetisieren,Der/ die Lernende kennt nicht alle Information...,140,NaN,MISCONCEPTION,135946.0,None

In [42]:
df_aspects["description"][6790]

'Die/Der Lernende hat einen Fehler bei der Kommasetzung gemacht.'

<hr>

# Detectors

In [43]:
query = "SELECT * FROM AspectConfigurations"
df_detectors = pd.read_sql(query, cnx)
df_detectors.head()

,id,name,aspectDetectorConfiguration,taskId,topicId,authorId,configuratorId,isEnabled
0,109,Entailment,"{""type"": ""ENTAILMENT_FREEFORM_TEXT"", ""paramete...",2FVWlAlScuC9XzyS5SarpA,NaN,24183,None,1
1,111,Universal AI,"{""type"": ""GPT3_FREEFORM"", ""parameters"": {""PROM...",4M6yoJCBEbQ6zaztY5bG1U,NaN,24183,None,1
2,113,Entailment,"{""type"": ""ENTAILMENT_FREEFORM_TEXT"", ""paramete...",7Aogxgxr1hM80XInQ8ZGAo,NaN,9443,None,1
3,114,Is Mathematically Equivalent,"{""type"": ""IS_EQUAL_SYMBOLIC_SOLUTION_FIELD"", ""...",94aOVOXLgfx6kujfGUjQ87,NaN,9443,None,1
4,119,Entailment,"{""type"": ""ENTAILMENT_FREEFORM_TEXT"", ""paramete...",8XOoRbXxyor6yQA8GCmawe,NaN,9443,None,1