In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import mysql.connector
import pandas as pd
cnx = mysql.connector.connect(user='root', password='taskbase',
                              host='127.0.0.1', port='3309', database='lernnavi')

In [3]:
# All Aspects
query = "SELECT * FROM Aspects"
df_aspects = pd.read_sql(query, cnx)
df_aspects.head()

,id,name,description,tenantId,categoryId,type,groupId,metaData
0,1,dummy aspect (frmr competence),To enable them on this domain,25,NaN,CONCEPT,1067.0,None
1,2,dummy competence,To enable competences for smoke tests,24,NaN,CONCEPT,48.0,None
2,4,Antworten in einem Satz,Die Antwort wurde in einem Satz gegeben.,90,NaN,CONCEPT,674.0,None
3,17,2.1 Hauptgrund: Strategien für den Schutz von ...,"Es wurde erkannt, dass die Schafe vorzeitig in...",90,NaN,CONCEPT,95.0,None
4,18,2.2 Gründe für die Akzeptanz von wolfsfreien Z...,"Es wurde erkannt, dass in Schweden der Erhalt ...",90,NaN,CONCEPT,73.0,None

df_CORN = df_aspects[df_aspects["tenantId"]==95]
df_CORN

df_EKV = df_aspects[df_aspects["tenantId"]==140]
df_EKV

In [4]:
query = "SELECT * FROM TaskAspects"
df_TaskAspect = pd.read_sql(query, cnx)
df_TaskAspect.head()

,id,taskId,aspectId,sampleSolution
0,3,5ElPCuVMbAy8pzupzU7R3x,2,None
1,54,2VX1HHa4SZp9Cs6Suof4ho,1,None
2,74,2j6rJkYxYa98ydGaSCW17D,4,None
3,75,2j6rJkYxYa98ydGaSCW17D,20,"{""type"": ""DEFAULT"", ""sampleSolutionGroups"": [{..."
4,76,2j6rJkYxYa98ydGaSCW17D,21,"{""type"": ""DEFAULT"", ""sampleSolutionGroups"": [{..."

In [5]:
df_tasks = pd.read_csv("data/open_tasks_Corn_EKV_DE.csv")
df_tasks.head(1)

,taskId,tenant,language,title,description,context,topic,hints,solutionSteps,replacements,resource,sampleSolutions,stepifier,word_count
15827,81xdUMIFiyC7gTSwml1MTv,Cornelsen DE,DE,Archive | 4.1 Erlebnislyrik | Kennzeichen,Was ist ein Kennzeichen der Erlebnislyrik? Ant...,NaN,"{'id': 5350, 'name': 'Essay 3', 'description':...",[],[],NaN,NaN,[''],KEYWORD,11

In [6]:
df = pd.merge(df_tasks[["taskId"]], df_TaskAspect, how="inner", on=["taskId"])
df.head()

,taskId,id,aspectId,sampleSolution
0,81xdUMIFiyC7gTSwml1MTv,882,80,"{""type"": ""DEFAULT"", ""sampleSolutionGroups"": [{..."
1,81xdUMIFiyC7gTSwml1MTv,883,81,"{""type"": ""DEFAULT"", ""sampleSolutionGroups"": [{..."
2,81xdUMIFiyC7gTSwml1MTv,884,82,"{""type"": ""DEFAULT"", ""sampleSolutionGroups"": [{..."
3,81xdUMIFiyC7gTSwml1MTv,888,116,None
4,81xdUMIFiyC7gTSwml1MTv,63518,14160,None

In [8]:
len(df_aspects), len(df), len(df.taskId.unique()), len(df.aspectId.unique())

(8908, 2878, 129, 612)

In [9]:
df_aspects.rename(columns={"id":"aspectId"}, inplace=True)
merged = pd.merge(left=df, right=df_aspects, on="aspectId", how="outer").dropna(subset=["taskId"])
merged.head()

,taskId,id,aspectId,sampleSolution,name,description,tenantId,categoryId,type,groupId,metaData
0,81xdUMIFiyC7gTSwml1MTv,882.0,80,"{""type"": ""DEFAULT"", ""sampleSolutionGroups"": [{...",Satzintegrität: Satzanfang Fehler (do not use),Du hast den Satzanfang nicht grossgeschrieben....,95,1.0,MISCONCEPTION,1404.0,None
1,7fE9sk0x2amalma0takBp5,862.0,80,"{""type"": ""DEFAULT"", ""sampleSolutionGroups"": [{...",Satzintegrität: Satzanfang Fehler (do not use),Du hast den Satzanfang nicht grossgeschrieben....,95,1.0,MISCONCEPTION,1404.0,None
2,7CUm7BcYBG79uI8VPMUKCo,738.0,80,"{""type"": ""DEFAULT"", ""sampleSolutionGroups"": [{...",Satzintegrität: Satzanfang Fehler (do not use),Du hast den Satzanfang nicht grossgeschrieben....,95,1.0,MISCONCEPTION,1404.0,None
3,6eVh0sUk73laFRNimbk7MC,1112.0,80,None,Satzintegrität: Satzanfang Fehler (do not use),Du hast den Satzanfang nicht grossgeschrieben....,95,1.0,MISCONCEPTION,1404.0,None
4,avYO5lPPpNR7MVAKdARpVK,1105.0,80,None,Satzintegrität: Satzanfang Fehler (do not use),Du hast den Satzanfang nicht grossgeschrieben....,95,1.0,MISCONCEPTION,1404.0,None

In [13]:
len(merged)

2878

In [11]:
merged.dropna(subset=["description"], inplace=True)
merged.to_csv("data/aspects_Corn_EKV_DE.csv", index_label=False)